body{
	background-image:url(images/back.png);
	background-repeat:no-repeat;
	background-position:center top; 
	
}

div{
	outline: 1px red solid;
}

.container{
	min-height:700px;
	width:980px;
	padding-top:1px;
}

.nav{
	width:224px;
	height:574px;
	padding-top:1px;
	margin-right:auto;
	background-image:url(images/head_reabon.png);
}

.nav .logo{
	background-image:url(images/logo.png);
	background-size:100% 100%;
	background-position:center top;
	width:173px;
	height:73px;
	margin-top:66px;
	overflow:hidden;
}

.nav .logo h1{
	text-indent:5000px;
}

.nav ul{
	margin-top:100px;
	width:184px;
}

.nav ul >li{
	border-bottom:1px #242424 solid;

}

.nav ul >li a{
	display:block;
	padding-bottom:5px;
	padding-top:5px;
	text-decoration:none;
	color:#DDD;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	line-height:20px;
}
